@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Light.ttf);
}

body{
    background-color: rgb(69, 69, 69);
    font-family: openSans;
}

button{
    border: 0;
    font-size: 45px;
    font-family: openSans;
    font-weight: 600;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 6px;
}

#title{
    color: white;
}

#panel{
    width: 381px;
    margin: auto;
    padding: 10px;
    background-color: black;
}

#zero{
    width: 174px;
    padding-right: 96px;
}

#input{
    background-color: rgb(42, 42, 42);
    color: white;
    font-size: 90px;
    text-align: right;
    padding-top: 150px;
    width: 360px;
    height: 100px;
}